@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  width: 100%;
}

button,
input[type='submit'],
input[type='reset'] {
  background: none;
  color: inherit;
  border: none;
  padding: 10px;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

a {
  border-bottom: 1px dotted #000;
}

.solved {
  font-size: 40px;
  max-width: 320px;
  text-align: center;
  font-kerning: none;
  letter-spacing: 0.5rem;
  margin: 10px 0;
}

h1 {
  color: rgb(22, 22, 22);
}

body {
  font-family: system-ui, sans-serif;
  min-height: 100vh;
  margin: 0;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

.flex {
  display: flex;
  flex-direction: column;
  flex-wrap: none;
  align-items: center;
}

.flex.fill {
  height: 100%;
}

.flex.center {
  justify-content: center;
}

.solved {
  font-size: 40px;
  max-width: 320px;
  text-align: center;
  font-kerning: none;
  letter-spacing: 0.5rem;
  margin: 10px 0;
}

.content {
  width: 320px;
}

.content > div {
  position: absolute;
  width: 320px;
  height: 40px;
  transform-origin: 50% 50% 0px;
  border-radius: 5px;
  color: white;
  background: lightblue;
  text-transform: uppercase;
  touch-action: none;
  user-select: none;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  line-height: 40px;
  font-weight: bold;
}

.content > div:nth-child(1) {
  background: linear-gradient(135deg, #eaafc8, #654ea3);
}
.content > div:nth-child(2) {
  background: linear-gradient(135deg, #f093fb, #f5576c);
}
.content > div:nth-child(3) {
  background: linear-gradient(135deg, #c3cfe2, #b6c8e4);
}
.content > div:nth-child(4) {
  background: linear-gradient(135deg, #f6d365, #fda085);
}
.content > div:nth-child(5) {
  background: linear-gradient(135deg, #5ee7df, #b490ca);
}
.content > div:nth-child(6) {
  background: linear-gradient(135deg, #eaecc6, #2bc0e4);
}
.content > div:nth-child(7) {
  background: linear-gradient(135deg, #dbe6f6, #c5796d);
}
.content > div:nth-child(8) {
  background: linear-gradient(135deg, #dc2430, #7b4397);
}
