.content {
  width: 320px;
}

.content > div {
  position: absolute;
  width: 320px;
  height: 40px;
  transform-origin: 50% 50% 0px;
  border-radius: 5px;
  color: white;
  background: lightblue;
  text-transform: uppercase;
  touch-action: none;
  user-select: none;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  line-height: 40px;
  font-weight: bold;
}

.content > div:nth-child(1) {
  background: linear-gradient(135deg, #eaafc8, #654ea3);
}
.content > div:nth-child(2) {
  background: linear-gradient(135deg, #f093fb, #f5576c);
}
.content > div:nth-child(3) {
  background: linear-gradient(135deg, #c3cfe2, #b6c8e4);
}
.content > div:nth-child(4) {
  background: linear-gradient(135deg, #f6d365, #fda085);
}
.content > div:nth-child(5) {
  background: linear-gradient(135deg, #5ee7df, #b490ca);
}
.content > div:nth-child(6) {
  background: linear-gradient(135deg, #eaecc6, #2bc0e4);
}
.content > div:nth-child(7) {
  background: linear-gradient(135deg, #dbe6f6, #c5796d);
}
.content > div:nth-child(8) {
  background: linear-gradient(135deg, #dc2430, #7b4397);
}
